body {
    background-color: black;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    overflow: hidden; 
}

.contato__video {
    position: fixed;

    z-index: -3;

    height: 100vh;

    top: 0;
    left: 0;
    right: 0;
}

.contato__titulo {
    font-size: 36px;
    font-family: var(--montserrat);
    font-weight: 700;
    color: var(--ciano);
    text-align: center;

    margin: 5rem 0 3rem 0;
}

.contato__form {
    margin: 0 1rem;

    width: 80vw;
    max-width: 600px;
}

.contato span {
    color: var(--azul-claro);
    font-weight: 700;
    text-align: center;
    
    margin: 7em 0 2em 0;
}

.contato__form-item {
    display: block;
    width: 100%;

    font: inherit;
}

.contato__form-nome {
    color: white;
    font-size: 18px;
    font-weight: 500;

    margin-bottom: .5rem;
}

.contato__form-informacao {
    padding: 1rem;

    margin-bottom: 2rem;

    border-radius: 5px;
    border: none;
    
    transition: 0.2s;
    
    box-sizing: border-box;
}

.contato__form-informacao:focus {
    outline: none;

    border: 3px solid var(--ciano);
}

.contato__form-mensagem {
    resize: vertical;

    min-height: 12rem;
}

.contato__form-botao {
    color: var(--ciano);
    font-size: 18px;
    font-weight: 500;

    padding: 1rem;

    background-color: transparent;

    border: 2px solid var(--ciano);
    border-radius: 5px;

    transition: 0.2s;

    cursor: pointer;
}

.contato__form-botao:hover {
    background-color: var(--ciano);

    color: black;
    font-weight: 600;
}

.contato__form-botao:active {
    background-color: var(--azul-claro);

    border-color: var(--azul-claro);
}

.contato__ancora {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1em 0 4em 0;
}

.contato__ancora-texto {
    color: white;
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 24px;

    margin-left: 1rem;
}

.contato__ancora-logo {
    width: 40px;
}

@media screen and (min-width: 1024px) {
    .contato__titulo {
        font-size: 48px;
    }

    .contato span {
        font-size: 20px;
    }

    .contato__form-nome {
        font-size: 24px;
    }

    .contato__form-informacao {
        font-size: 18px;
    }

    .contato__form-botao {
        font-size: 24px;
    }
    
    .contato__ancora-logo {
        width: 50px;
    }

    .contato__ancora-texto {
        font-size: 32px;
        font-weight: 600;
    }
}