body {
    background: url("../img/bg-anderson\ 2.png") no-repeat;
    background-color: #2A2A2A;
}

.apresentacao__descricao {
    display: flex;
    flex-direction: column;

    width: 80vw;

    padding: 50vh 10vw 0 10vw; 
}

.apresentacao__titulo {
    color: white;
    font-weight: 700;
    font-size: 46px;
    text-decoration: none;
    font-family: var(--montserrat);
}

.apresentacao__titulo:hover {
    color: var(--ciano);
    text-decoration: underline;
}

.apresentacao__titulo:active {
    color: var(--azul-claro);
}

.apresentacao__subtitulo {
    color: var(--azul-claro);
    font-size: 24px;
    font-weight: 700;

    margin-top: .5rem;
    margin-bottom: 2rem;
}

@media  screen and (min-width: 728px) {
    .apresentacao__descricao {
        align-items: flex-end;
        padding: 40vh 10vw 0 10vw;
    }

    .apresentacao__titulo {
        font-size: 32px;
    }
}
